@use './_var.scss';
@use './_board.scss';
@use './_column.scss';
@use './_navbar.scss';
@use './_cadUsuario.scss';
@use './section.scss';
@use './tarefa.scss';
@use './_editTarefa.scss';

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}